{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "stryker": {
            "badge": "master"
        }
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
